<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="STX Next sp. z o.o." />
    <meta name="viewport" content="width=device-width; initial-scale=1.0">

    <link href="/static/css/normalize.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/static/css/main.css" media="all" rel="stylesheet" type="text/css" />

    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="/static/js/common.js"></script>
<!--
    <script>
    (function($) {
        $(document).ready(function(){
            $('#header li').on('click', function() { 
                $(this).attr('id', 'selected');
            });
        });
    })(jQuery);
    </script>
-->

    <%block name="head" />
</head>

<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>

            <ul>
                <li><a href="/presence_weekday">Presence by weekday</a>
                </li>
                <li><a href="/mean_time_weekday">Presence mean time</a>
                </li>
                <li><a href="/presence_start_end">Presence start-end</a>
                </li>
            </ul>
        </div>
        <div id="content">

            <%block name="content" />

            <h2>Presence ${name}</h2>
            <p>
                <select id="user_id" style="display: none">
                    <option value="">--</option>
                </select>
                <div id="chart_div" style="display: none">
                </div>
                <div id="loading">
                    <img src="/static/img/loading.gif" />
                </div>
            </p>
        </div>

    </div>
</body>
