<%inherit file="base.html"/>
<%block name="head">
    <script type="text/javascript">
        google.load("visualization", "1", {packages: ["corechart", "timeline"], 'language': 'pl'});
        
        (function($) {
            $(document).ready(function(){
                var loading = $('#loading');
                load_users();
                $('#user_id').change(function(){
                    selected_user = select_user();
                    var chart_div = $('#chart_div');
                    $.getJSON("/api/v1/presence_start_end/"+selected_user, function(out) {
                        var day, start, end;
                        var result = [];
                        $.each(out, function(index, value) {});
                        for (var i in out) {
                            day = out[i][0];
                            start = new Date("January 1, 1970, " + out[i][1][0]);
                            end = new Date("January 1, 1970, " + out[i][1][1]);
                            result.push([day, start, end])  
                        }

                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Weekday');
                    data.addColumn({ type: 'datetime', id: 'Start' });
                    data.addColumn({ type: 'datetime', id: 'End' });
                    data.addRows(result);
                    var options = {
                        hAxis: {title: 'Weekday'}
                    };
                    var formatter = new google.visualization.DateFormat({pattern: 'HH:mm:ss'});
                    formatter.format(data, 1);
                    formatter.format(data, 2);

                    chart_div.show();
                    loading.hide();
                    var chart = new google.visualization.Timeline(chart_div[0]);
                    chart.draw(data, options);
                    });
                });
            });
        })(jQuery);
</script>
</%block>
